# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
import sqlalchemy as db
from sqlalchemy import create_engine

In [2]:
def find_outlier_std(cardholder_id):
    #connect to database 
    engine = db.create_engine("postgresql://postgres:cruz@localhost:5432/fraud_detection")
    connection = engine.connect()
    metadata = db.MetaData()
    transaction = db.Table('transaction_tbl', metadata, autoload=True, autoload_with=engine)
    credit_card = db.Table('credit_card', metadata, autoload=True, autoload_with=engine)
    card_holder = db.Table('card_holder', metadata, autoload=True, autoload_with=engine)
    # create query to get card numbers
    query = db.select([credit_card,card_holder])
    query2 = query.select_from(credit_card.join(card_holder,credit_card.columns.cardholder_id == card_holder.columns.id)).where(credit_card.columns.cardholder_id == cardholder_id ).order_by(credit_card.columns.cardholder_id)
    # Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
    df = pd.read_sql(query2, engine)
    cardlist = df['card'].tolist()
    # create query to get transactions
    df3 = pd.DataFrame()
    for c in cardlist:
        query3 = db.select([transaction]).where(transaction.columns.card == c)
        df2 = pd.read_sql(query3, engine)
        df3 = df3.append(df2, ignore_index = True)
        df3['amount'] = df3['amount'].replace('[\$,]', '', regex=True).astype(float)
    #find outlier in transactions
    varlist = df3['amount'].tolist()
    elements = np.array(varlist)
    mean = np.mean(elements, axis=0)
    sd = np.std(elements, axis=0)
    final_list = [x for x in varlist if (x > mean - 2 * sd)]
    final_list = [x for x in final_list if (x < mean + 2 * sd)]
    outliers = []
    for element in varlist:
        if element not in final_list:
            outliers.append(element)
    df4 = pd.DataFrame()
    for o in outliers:
        df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)
    return df4

In [3]:
# Find anomalous transactions for 3 random card holders
display(find_outlier_std(20))
display(find_outlier_std(22))
display(find_outlier_std(25))

/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)

     id           trns_date  amount                 card  id_merchant
0  2879 2018-01-14 06:19:11   21.11     3535651398328201           74
1  2632 2018-11-09 19:38:36   20.27     3535651398328201           75
2  2540 2018-08-26 07:15:18   23.13     4506405265172173          147
3  2765 2018-05-11 12:43:50   20.56  4586962917519654607           90
4  3005 2018-10-07 08:16:54   20.44  4586962917519654607           89

/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)

     id           trns_date  amount          card  id_merchant
0  3106 2018-03-30 15:39:04   19.87  501809222273           33
1  3047 2018-10-07 19:09:57   19.55  501809222273          107

/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/1617878169.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)

     id           trns_date  amount           card  id_merchant
0  1415 2018-01-30 18:31:00  1177.0  4319653513507           64
1  2840 2018-03-06 07:18:09  1334.0  4319653513507           87
2  1341 2018-04-08 06:03:50  1063.0  4319653513507           16
3  1377 2018-05-13 06:31:20  1046.0  4319653513507           48
4  1790 2018-06-04 03:46:15  1162.0  4319653513507           96
5   224 2018-06-06 21:50:17   749.0  4319653513507           36
6  2582 2018-06-22 06:16:50  1813.0  4319653513507           40
7  1877 2018-08-16 10:01:00  1001.0  4319653513507          120
8  1863 2018-12-18 13:33:37  1074.0  4319653513507           67

## Identifying Outliers Using Interquartile Range

In [4]:
# Write a function that locates outliers using interquartile range
def find_outlier_int(cardholder_id, outlier_constant):
    #connect to database 
    engine = db.create_engine("postgresql://postgres:cruz@localhost:5432/fraud_detection")
    connection = engine.connect()
    metadata = db.MetaData()
    transaction = db.Table('transaction_tbl', metadata, autoload=True, autoload_with=engine)
    credit_card = db.Table('credit_card', metadata, autoload=True, autoload_with=engine)
    card_holder = db.Table('card_holder', metadata, autoload=True, autoload_with=engine)
    # create query to get card numbers
    query = db.select([credit_card,card_holder])
    query2 = query.select_from(credit_card.join(card_holder,credit_card.columns.cardholder_id == card_holder.columns.id)).where(credit_card.columns.cardholder_id == cardholder_id ).order_by(credit_card.columns.cardholder_id)
    # Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
    df = pd.read_sql(query2, engine)
    cardlist = df['card'].tolist()
    # create query to get transactions
    df3 = pd.DataFrame()
    for c in cardlist:
        query3 = db.select([transaction]).where(transaction.columns.card == c)
        df2 = pd.read_sql(query3, engine)
        df3 = df3.append(df2, ignore_index = True)
        df3['amount'] = df3['amount'].replace('[\$,]', '', regex=True).astype(float)
    #find outlier in transactions
    varlist = df3['amount'].tolist()
    outlierConstant=outlier_constant
    a = np.array(varlist)
    upper_quartile = np.percentile(a, 75)
    lower_quartile = np.percentile(a, 25)
    IQR = (upper_quartile - lower_quartile) * outlierConstant
    quartileSet = (lower_quartile - IQR, upper_quartile + IQR)
    resultList = []
    for y in a.tolist():
        if y >= quartileSet[0] and y <= quartileSet[1]:
            resultList.append(y)
    outliers = []
    for element in varlist:
        if element not in resultList:
            outliers.append(element)
    df4 = pd.DataFrame()
    for o in outliers:
        df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)    
    return df4

In [5]:
# Find anomalous transactions for 3 random card holders
display(find_outlier_int(20,1))
display(find_outlier_int(22,1))
display(find_outlier_int(25,50))

/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)

     id           trns_date  amount                 card  id_merchant
0  2879 2018-01-14 06:19:11   21.11     3535651398328201           74
1  2632 2018-11-09 19:38:36   20.27     3535651398328201           75
2  2540 2018-08-26 07:15:18   23.13     4506405265172173          147
3  2765 2018-05-11 12:43:50   20.56  4586962917519654607           90
4  3005 2018-10-07 08:16:54   20.44  4586962917519654607           89

/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)

     id           trns_date  amount          card  id_merchant
0  3106 2018-03-30 15:39:04   19.87  501809222273           33
1  3047 2018-10-07 19:09:57   19.55  501809222273          107

/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(df2, ignore_index = True)
/var/folders/hj/kq6jbljs7lb95ftqpmny2y340000gn/T/ipykernel_5899/2353802276.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df4.append(df3.loc[df3['amount'] == o], ignore_index = True)

     id           trns_date  amount           card  id_merchant
0  1415 2018-01-30 18:31:00  1177.0  4319653513507           64
1  2840 2018-03-06 07:18:09  1334.0  4319653513507           87
2  1341 2018-04-08 06:03:50  1063.0  4319653513507           16
3  1377 2018-05-13 06:31:20  1046.0  4319653513507           48
4  1790 2018-06-04 03:46:15  1162.0  4319653513507           96
5   224 2018-06-06 21:50:17   749.0  4319653513507           36
6  2582 2018-06-22 06:16:50  1813.0  4319653513507           40
7  1877 2018-08-16 10:01:00  1001.0  4319653513507          120
8  1863 2018-12-18 13:33:37  1074.0  4319653513507           67